{
  "plugins": [
    "transform-class-properties"
  ],
  "presets": [
    "next/babel",
    "es2015"
  ],
  "ignore": [],
  "env": {
   "test": {
     "presets": [
       ["env", { "modules": "commonjs" }],
       "next/babel"
     ]
   }
 }
}
